.linechart-container{
  width: 58%;
  height: 450px;
  min-width: 350px;
  border-radius: 15px;
  box-shadow: 0 4px 10px 2px;
  border: 1px solid #444;
  margin: auto;
  padding: 40px 10px;
  background-color: transparent;
}

.bar{
  margin: 0 0;
}

.option-container{
  display: flex;
  align-items: center;
}

.option-container span{
  font-weight: 600;
  margin:0 8px;
}

.option1, .option2{
  padding-bottom: 5px;
  margin-right: 10px;
}

.piechart-container{
  width:  40%;
  min-width: 350px;
  height: 450px;
  border-radius: 15px;
  box-shadow: 0 4px 10px 2px;
  border: 1px solid #444;
  background-color: transparent;
  padding: 45px 10px;
  margin: auto;
}
.piechart-container span, .linechart-container span{
  color: cadetblue;
}

.select{
  width: auto;
  padding: 5px;
  border: 0.5px solid #ccc; 
  border-radius: 8px; 
  background-color: #fff; 
  font-size: 16px; 
  font-weight: bold;
  color: #333;
}

.select option{
  background-color: #fff;
  color: #333; 
}

