.modal-container{
    position: fixed;
    z-index: 1;
    left:0;
    top: 0;
    width: 100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
}

.maintenanceinfo-modal .Title{
    display: flex;
    align-items: center;
    margin: 0 20%;
    justify-content: space-between;
}

.Title h3{
    text-align: center;
    min-width:40%;
    font-size: 100%;
    padding: 8px;
    word-wrap: break-word;
}

.modal{
    padding: 35px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: azure;
    width: 28em;
    height: 30em;
    text-align: center;
}

.delwrn-modal{
    padding: 35px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background-color: azure;
    border: 1px solid #ccc;
    width: 28em;
    height: 15em;
    text-align: center;
}

.delwrn-modal .buttons{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delwrn-modal .buttons button{
    padding: 5px;
    border-radius: 10px;
    width: 40%;
    border: 1px solid #ccc;
}
.delwrn-modal .buttons .del{
    background-color: crimson;
    
}

.delwrn-modal .buttons .cncl{
    background-color: #1aac83;
}   



.delwrn-modal h3{
    width: 80%;
    background-color: cadetblue;
}

.maintenanceinfo-modal{
    padding: 30px;
    position: relative;
    display: block;
    border-radius: 10px;
    background-color: azure;
    width: 80%;
    height: 38em;
    overflow: hidden;
}

.maintenanceinfo-modal .info{
    text-align: left;
    object-fit: contain;
    height:450px;
    width:100%;
    overflow-x: hidden;
    overflow-y: auto;

}

.info .history{
    margin: 5px 10px;
    padding: 30px;
    border-radius: 10px 0 ;
    border-bottom: 1px solid #ccc;
    background-color: cadetblue;
    width: 100%;
    overflow-y: auto;
    
}

.final .add{
    margin: 5px 10px;
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    overflow-y: auto;
}

.add .block{
  display: flex;
  margin:0 30px;
  justify-content: space-between;
  align-items:baseline;
}



.add .block input,.add .block select{
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 20px;
  border: 1px solid #272424;
  border-radius: 5px;
  width:50%;
  font-size: 16px;
  background-color: #f9f9f9;
  font-weight: bold;
}


.add .block textarea{
  padding: 5px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid #272424;
  border: 1px solid #272424;
  border-radius: 5px;
  width:60%;
  height:10%;
  font-size: 16px;
  background-color: #f9f9f9;
  font-weight: bold;
  resize: none;
  }


.add .check{
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    width: 600px;
}

.add .check .check-block{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 10px;
  width: 98%;
}

.block1,.block2{
    display: flex;
    justify-content: left;
    align-items: baseline;
    width: 45%;
    padding: 2px 2px;
    
}

.add .check-block .block1 .tic{
    margin-right: 5px;
    height:15px;
    width: 15px;
    cursor: pointer;
} 

.check-block .block2 .cost{
    padding: 5px;
    margin-left: 5px;
    border: 1px solid #272424;
    border-radius: 5px;
    width: 50%;
    height: 30px;
    font-size: 16px;
    background-color: #f9f9f9;
    font-weight: bold;
  }

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}


.form-group input,
.form-group select{
    width: 200px;
    border:1px solid black;
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 1rem;
    margin-left: 50px;
    margin-bottom: 1rem;
}

h3{
    text-align: center;
    margin: auto;
}

.form-group div,.form-group label{
    display: flex;
    margin-bottom: 0.2rem ;
    align-items: baseline;
    justify-content: space-between;
}

.final{
    display: flex;
    justify-content: space-between;
}

.click{
    position: absolute;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 40%;
    background-color: #1aac83;
    cursor: pointer;
    font-size: 16px;
}

.delwrn-modal .buttons button:hover{
    scale: 1.1;
}

/* .click:hover{
    background-color: rgb(16, 139, 105);
    scale: 1.1;
  } */

@media (width<900px){
    .Title h3{
        font-size: small;
        width: 100%;
    }
}


@media (width<830px){
    .final{
      flex-direction: column;
    }
    .maintenanceinfo-modal{
        overflow: auto;
    }
}
