.shortrecord,.longrecord{
    box-shadow: 0 4px 10px 2px;
    border: 1px solid #444;
    border-radius: 9px;
    width:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
  
.filter-bar{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 90%;
    height: 50px;
    border-radius: 20px 0;
    padding: 2px;
}

.search-input.active{
   visibility: visible;
   width: 70%;
   height: 80%;
   border-radius: 8px 0;
   color: white;
   margin: 5px;
   background-color: #3a3c3c;
}
.search-input{
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.filter-option.active{
  visibility: visible;
  padding: 5px;
  border: 1px solid #272424;
  border-radius: 8px;
  width:18%;
  margin: 5px;
  height: 75%;
  font-size: 16px;
  background-color: #f9f9f9;
  font-weight: bold;
}

.filter-option{
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.table{
    display: block;
    table-layout: auto;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 15px;
    white-space: nowrap;
    width: 95%;
    overflow-x: auto;
}


.table thead{
    width:100%;
    background-color:cadetblue;
    color: #222;
}

.table th, .table td{
    padding: 0.7rem;
    background-color: transparent;
}


tbody .rows{
    border-top: 1.5px solid #353333;
    overflow: auto;
    text-overflow: ellipsis;
}

tbody .rows:hover{
    background-color: #c4c2c2;
}

.page-buttons{
    display: flex;
    width: 20%;
    justify-content: space-between;
    padding: 5px;
}

.arrow-button{
    width: 35px;
    height: 35px;
    color: green;
    border-radius: 5px;
    background-color: #333;
    cursor: pointer;
    
}
.arrow-button.disable{
    background-color: #333;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    color: crimson;
    pointer-events: none;
}

.delete-btn{
    color: crimson;
    margin-right: 10px;
    cursor: pointer;
}
.edit-btn{
    color: #00b3ff;
    margin:0 10px;
    cursor: pointer;
}

.des-btn{
    color: #119639;
    margin-left: 10px;
    cursor: pointer;
}

.filter-btn{
    color: cadetblue;
    margin-left: 10px;
    cursor: pointer;
    margin-right: 10px;
    min-width: 30px;
    min-height: 30px;
}
.shortrecord h3,.longrecord h3{
    background-color: cadetblue;
    padding: 5px;
    margin-top: 10px;
    border-radius: 8px;
    width: 40%;
}
.arrow-button:hover,.delete-btn:hover,.edit-btn:hover,.des-btn:hover,.filter-btn:hover{
    scale:1.2;
}
