.shortrecord,.longrecord{
    box-shadow: 0 2px 5px 2px ;
    border: 1px solid #282626;
    border-radius: 9px;
    overflow: auto;
    object-fit: contain;
    width:90%;
}
  
.table{
    table-layout: auto;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #ccc;
    border-radius: 20px;
    white-space: nowrap;
    width: 89%;
    overflow-x: auto;
}


.table thead{
    width:100%;
    background-color: #e17115;
    color: #222;
}

.table th, .table td{
    padding: 0.7rem;
    background-color: transparent;
}


tbody .rows{
    border-top: 1.5px solid #353333;
    overflow: hidden;
    text-overflow: ellipsis;
}

tbody .rows:hover{
    background-color: #c4c2c2;
}

.delete-btn{
    color: #e10805;
    margin-right: 10px;
    cursor: pointer;
}
.edit-btn{
    color: #00b3ff;
    margin:0 10px;
    cursor: pointer;
}

h2{
    text-align:center ;
}
.des-btn{
    color: #119639;
    margin-left: 10px;
    cursor: pointer;
}

.search-btn{
    color: #260d94;
    margin-left: 10px;
    cursor: pointer;
}

.delete-btn:hover,.edit-btn:hover,.des-btn:hover,.search-btn:hover{
    scale:1.2;
}
