.user{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 40vw;
}

.user .popup{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position:absolute;
  box-shadow: 0 4px 10px 2px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: rgb(42, 127, 130);
  width: 500px;
  height: 600px;
  z-index: 2;
}
.user .buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 10px 2px;
  border: 1px solid #444;
  background-color: transparent;
  padding: 45px 10px;
  width: 90%;
  height: 250px;
  gap: 20%;
  margin-top: 10px;
}

.user .buttons button{
  background-color:  cadetblue;
  border-radius: 10px 0 10px 0;
  cursor: pointer;
  padding: 30px 30px;
  margin: 50px;
  border: 2px solid #333;
}

.user .buttons button:hover{
  background-color: rgb(63, 111, 112);
  scale: 1.1;
}

.user .popup .exit{
  position: absolute;
  padding:6px 10px;
  border-radius: 13px;
  margin: 3% 91%;
  background-color: crimson;
  cursor: pointer;
}

.user .popup .exit:hover{
  background-color: #ad2020;
  scale: 1.1;
}

.user .popup .submit{
  position: absolute;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  padding:5px 10px;
  display: inline-block;
  margin: 2% 78%;
  background-color: #1aac83;
  cursor: pointer;
  font-size: 16px;
}

.user .popup .submit:hover{
  background-color: rgb(16, 139, 105);
  scale: 1.1;
}

.user .popup .block,.user .popup .block .check-block,.user .popup .block select{
  display: flex;
  margin:0 30px;
  justify-content: space-between;
  align-items:baseline;
}

.user .popup div input,.user .popup .block select{
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 20px;
  border: 1px solid #272424;
  border-radius: 5px;
  width:60%;
  font-size: 16px;
  background-color: #f9f9f9;
  font-weight: bold;
}

input:invalid{
  border-color: red;
}

input:invalid:focus{
  outline: none;
}

.user .popup h5{
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.user .popup div textarea{
  padding: 5px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid #272424;
  border: 1px solid #272424;
  border-radius: 5px;
  width:40%;
  height:10%;
  font-size: 16px;
  background-color: #f9f9f9;
  font-weight: bold;
  resize: none;
}

.user .popup fieldset {
  font-size: 15px;
  font-weight:500;
}

.user .popup fieldset legend{
  margin-top: 10px;
  margin-left: 30px;
  padding-right: 10px;
  font-size: 15px;
  font-weight: bold;
}
.user .popup .check{
  margin-left: 45px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
} 

.user .popup .check input{
  height:15px;
  width: 15px;
  cursor: pointer;
 } 

.description{
  height:50px;
}


.vr{
  width: 1.5px;
  background-color: #272424;
  height:5px;
  top: 65%;
}

span{
  margin: 0 auto;
}

.payment{
  border-radius: 15px;
  box-shadow: 0 4px 10px 2px;
  border: 1px solid #444;
  background-color: transparent;
  padding: 45px 10px;
  width: 90%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.title{
  text-align: center;
  background-color: cadetblue;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
}

.payment .history-table{
  display: block;
  overflow: hidden;
  width: 95%;
  table-layout: auto;
  white-space: nowrap;
  border-collapse: collapse;
  overflow-x: auto;
  margin: auto;
}

.payment .history-table th, .history-table td{
  padding: 0.8rem;
  width: 20%;
}

.form-error{
  background-color: #f8d7da;
  border: 1px solid #df4759;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  color: #df4759;
  border-radius: 5px;
  padding: 5px;
}

@media (width<830px){
  .user .popup{
    width: 460px;
  }
  .user .buttons, .user .payment{
    flex-direction: column;
  }
}