@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playwrite+NL:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}




.navbar-dark span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

label,
input,
select {
  display: block;
}
label {
  margin-top: 10px;
}
select {
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
}
input {
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;  
}

input:focus {
  border: none;
  outline: none;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  margin: 10px auto;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

.input_option{ 
  display: flex;
  margin-bottom: 0 0 20px 10px;
  padding-left: 10px;
}
.input_option > input {
  max-width: 20px;
  margin-right: 10px;
}

.input_box{
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  border: 1px solid #ddd;
  padding-left: 10px;
  border-radius: 4px;
  margin: 10px auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

div.msg {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 4px;
  margin: 20px 0;
}

.material-symbols-outlined {
  vertical-align: middle; 
  line-height: 1; 
  margin-right: 5px; 
}

.parkDetails{
  margin-bottom: 20px;
}

.parks_info{
  display: flex;
  justify-content: space-between;
}

.serachParkForm,
.parks,
.signup,
.login,
.emailsForPark, 
.histories, 
.dateSelect {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.queryBoxHis{
  margin: 0px auto;
  padding: 20px;
}

.addParkAdmin, .addVehicle, .searchParking, .userParkHistory, .showDateAndData {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.idnumber {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  margin: auto 10px;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
  border-bottom: 1px solid #ddd;
  color: var(--primary);
}

.qHistoryInfo{
  display: flex;
  justify-content:flex-start;
  padding-left: 10px;
}

.key {
  width: 60%;
}

.val::before {
  content: ': ';
}

.noticeTime {
  display: flex;
  justify-content:flex-end;
  background-color: #f4f1f1;
  margin: 10 auto;
  line-height: 0.1em;
}

.noticeTime span{
  font-size: 12px;
  color: var(--primary);
  background-color: rgb(255, 255, 255);
  padding-left: 10px;
}

.dateLine{
  margin: 10px auto;
}

.addProfilePic {
  color: gray;
  position: relative;
  top: -15px;
}

.addProfilePic.hoverEffect:hover {
  color: rgba(14, 106, 234, 0.849);
  cursor: pointer;
}

.name{
  position: relative;
  top: -5px;
}

.recordBtn{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  margin: 10px auto;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

.recordBtn:hover{
  background: rgb(4, 102, 56);
  border: 0;
  color: #fff;
  padding: 10px;
  margin: 10px auto;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
.editPicture{
  font-family: poppins;
  font-size: 15px;
}
.logo{
  vertical-align: middle;
  font-size: 20px;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  justify-items: center;
  padding-top: 50px;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.show-scrollbar:hover {
  scrollbar-width: thin;
}

.show-scrollbar:hover::-webkit-scrollbar {
  display: block;
  width: 8px;
}

.show-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.show-scrollbar:hover::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.hero-section {
  background: url('./img/hero.jpg') no-repeat center center;
  background-size: cover;
  padding: 100px 10px;
  height: 100vh;
}

.hero-section h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
}

h1 span {
  color: var(--primary);
}

.hero-section p {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
}

.my-5 img {
  aspect-ratio: 16 / 9;
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 1s;
}

.carSHover:hover {
  transform: scale(1.1);
}